@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin:0;
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    
}
header{
    width: 100%;
    height: 94px;
    background-color: #562EFF;
    color: white;
    margin-bottom: 33px;
    display: flex;
}
.header-left{
    display: flex;
}
.header-icon{
    width: 40px;
}
.header-icon i{
    width: 100%;
    font-size: 40px;
}
.header-text{
    width: 70px;
    font-size: 25px;
    margin-left: 15px;
}
.center-aligned{
    width: 930px;
    height: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.header-image{
    width: 51px;
}
.header-image img{
    width:100%;
}
.header-menu{
    width: 300px;
    margin-right: -84px;
}
.header-menu ul{
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    align-content: center;
}
.header-menu ul li{
    list-style: none;
}
.header-right{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items:end;
}
/*                                            *\
                Top Section complete
\*                                            */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-section , .below-course{
    width:870px;
     height: 679px; 
     background-color: #ffffff;
     padding: 30px;
     border-radius: 5px;
}
.text h2, .text2 h2{
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    margin-top: 6px;
    margin-bottom: 40px;
}
.top-player{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
.players{
    display: flex;
    align-items: center;
}
.players img{
width:56px;
height: 56px;
}
.players h3, .article-text{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    /* margin: 30px 0px; */
    border: 1px solid #D1D1D1;
}
/* Top players done */
.top-blog{
    margin-top: 30px;
}
.wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:26px ;
}
.blogs{
display: flex;
}
.blogs img{
    width: 177px;
    
}
.article-text{
    font-size: 16px;
}
.article-text span{
    color: rgba(107, 107, 107, 0.637);
}
.article-text a{
    text-decoration: none;
}
/*                                         *\
            First Section complete
\*                                         */
.below-section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.below-course{
    height: 362px;
}
.wraper2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.courses{
border: 1px solid #eeeeee85;
border-radius: 8px;
width: 252px;
height: 270px;
padding: 13px;
}
.course-image img{
    width:100%;
}

.text2 h2{
    margin-bottom: 24px;
    margin-left:13px ;
}
.least-content{
display: flex;
justify-content: space-between;
}
.rating{
    width: 130px;
    font-size: 14px;
}
.rating i{
    color:#FFC014;
}
#five-star{
    color:#AEAEAE;
}
.rating span{
    float: right;
    color: #AEAEAE;
}
.service-hour{
    width: 85px;
    border: 1px solid #FEE5DF;
    border-radius: 15px;
    text-align: center;
    background-color: #FEE5DF;
    color: #ED6B4F;
    font-size: 14px;
}
/* completed */
/* responsive started */
